body {
    text-align:center
}
nav {
    padding:0;
    margin:10px 0;
    line-height:14px;
    text-align:center;
    background-color:#f1f1f1;
    width:100%
}
nav ul {
    list-style:none;
    text-align:center;
}
nav ul li {
    float:left;
    margin:0 10px;
}
nav li a{
    color:#000;
    font-size: 14px;
    text-decoration: none;
    padding:10px 20px;
    font-weight:bold
}
p {
    font-size:14px;
    line-height:1.7;
    margin:0;
    text-decoration:none;
    color:#999
}
button {
    background-color:#999;
    border:0;
    display:inline-lock;
    width:200px;
    height:30px;
    margin:10px auto;
}
footer {
    margin-top:30px;
    padding:30px 0;
    background-color:#f3f3f3;
    text-align:center;
    font-size:12px;
}